/*=============================
  Reset 
===============================*/
*{margin:0;padding:0}
* html body *{overflow:visible}
html{height:100%;margin-bottom:1px}
html, body, div, span, object, a,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}
div,ul,ol,li,table,tr,td,th,dl,dt,dd {
  @include border-box; }
.plupload, .plupload div,ul,ol,li,table,tr,td,th,dl,dt,dd {
  @include content-box; }
/*=============================
  FONTS 
===============================*/
/*--- reset font size for all elements to standard (16 Pixel) ---*/
html * { font-size: 100.01%; }
/*--- standard font size 13px / 10pt ---*/
body {
  @include default-font;
  font-size: 87.50%;
  color: #666;
  background: #EEE;
  text-align:left;
  overflow-x: scroll;
}
/*=============================
  Headings
===============================*/
h1,h2,h3,h4,h5,h6 {
  font-weight:500;
  margin: 0;
}
h1 { font-size: 171.4%; }           /* 24px / 18pt */
h2 { font-size: 128.6%; }           /* 18px / 14pt */
h3 { font-size: 114.3%; }           /* 16px / 12pt */
h4 { font-size: 107.1%; }           /* 15px / 11pt */
h5 { font-size: 85.7%; }            /* 12px / 09pt */
h6 {  }                    /*  */
/*=============================
  Lists
===============================*/
ul, ol, dl { }

ul li { list-style: none; }
ul ul li { list-style: none; }

ol li { list-style: none; }
ol ol li { list-style: none; }

dl { width:100%; }
dt { color:#333; display:block; margin: 0 0 0.5em 0;}
dd { font-size: 92.9%; margin: 0; display:block; }

/*=============================
  Global Text Formatting 
===============================*/
p { line-height: 1.25em; margin: 0 0 1em 0; }
blockquote, cite,q {
  font-style:italic;
}
blockquote { margin: 0 0 1em 1.6em; }
strong,b { font-weight: bold; }
em,i { font-style: italic; }
mark { color:#000; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { }
hr {
  background:transparent;
  margin: 0 0 0.5em 0;
  padding: 0 0 0.5em 0;
  border:0;
  border-bottom: 1px #ddd solid;
}
/*=============================
  Links 
===============================*/
a { color: #00f; background:transparent; text-decoration:none; }
a:visited  { color: #00f; }
a:focus,
a:hover,
a:active { color:#00f; text-decoration:underline; }
a:active, :focus { outline:none; }
/*=============================
  Tables
===============================*/
table { 
  width: 100%;
  @include rounded;
  color: #666666;
  border: 1px solid #9b9b9b;
  margin: 0.75em 0;
  
}
thead, tfoot { background: #dfdfdf; }
tbody { background: #f9f7f8; }
th,td { text-align:left; margin:0; font-weight:normal;  }
th { 
  @include rounded-top;
  text-transform: uppercase;
  color: #333;
  padding: 4px;
}
td {
  border-top: 1px solid #9b9b9b;
  padding: 15px;
  span { font-size: 11px; }
}

tr:hover th[scope="row"],
tr:hover tbody th.sub { }
tr:hover td { }

tr:last-child {
  td:last-child { @include rounded-bottom; }
}
/*=============================
  Generic Content Classes 
===============================*/
.content { padding:5px;}
.caption {font-size: 85%; color:#666;}
.warning {
  background: #{inline_image("/images/fluxx_engine/theme/default/icons/information.png")} no-repeat left center;
  padding: 10px 0 10px 20px;
}
.notice {
  background: #{inline_image("/images/fluxx_engine/theme/default/icons/accept.png")} #ccffcc no-repeat 17px 14px;
  color: #003300;
  padding: 10px 50px;
  &.error {
    background-color: #ffcccc;
    background-image: #{inline_image("/images/fluxx_engine/theme/default/icons/exclamation.png")};
    color: #330000;
  }
  .close-parent {
    @include inline-block;
    position: absolute;
    right: 18px;
    top: 14px;
  }
} 
.dimmed, .disabled { opacity: 0.5; }
.empty { display: none; }