/*=============================
  Reset 
===============================*/
*{margin:0;padding:0}
* html body *{overflow:visible}
html{height:100%;margin-bottom:1px}
html, body, div, span, object, a,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}
body{font-size:100.01%;color:#000;background:#fff;text-align:left}
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { }

/*=============================
  FONTS 
===============================*/
/*--- reset font size for all elements to standard (16 Pixel) ---*/
html * { font-size: 100.01%; }
/*--- standard font size 13px / 10pt ---*/
body {
  @include default-font;
  font-size: 87.50%;
  color: #666;
  background: #EEE;
}
/*=============================
  Headings
===============================*/
h1,h2,h3,h4,h5,h6 {
  font-weight:500;
  margin: 0;
}

h1 { font-size: 171.4%; }           /* 24px / 18pt */
h2 { font-size: 128.6%; }           /* 18px / 14pt */
h3 { font-size: 114.3%; }           /* 16px / 12pt */
h4 { font-size: 107.1%; }           /* 15px / 11pt */
h5 { font-size: 85.7%; }            /* 12px / 09pt */
h6 {  }                    /*  */

/*=============================
  Lists
===============================*/
ul, ol, dl { margin: 0; }
ul li { list-style-type: disc; }
ul ul li { list-style-type: circle; }

ol li { list-style-type: decimal; }
ol ol li { list-style-type: lower-latin; }

li { margin-left: 0; }

dt { font-weight: normal; display:inline;}
dd { margin: 0; display:inline; }

/*=============================
  Global Text Formatting 
===============================*/
p { line-height: 1.25em; margin: 0 0 1em 0; }

blockquote, cite,q {
  font-style:italic;
}
blockquote { margin: 0 0 1em 1.6em; }

strong,b { font-weight: bold; }
em,i { font-style: italic; }

pre, code, kbd, samp, var { font-size: 100%; }
pre, code { color: #800; }
pre { line-height: 1.5em; margin: 0 0 1em 0; }
kbd, samp, var { color: #666; }
var { font-style: italic; }

sub, sup { font-size: 91.6667%; }

hr {
  background:transparent;
  margin: 0 0 0.5em 0;
  padding: 0 0 0.5em 0;
  border:0;
  border-bottom: 1px #ddd solid;
}
/*=============================
  Links 
===============================*/
a { color: #00f; background:transparent; text-decoration:none; }
a:visited  { color: #00f; }
a:focus,
a:hover,
a:active { color:#00f; text-decoration:underline; }
a:active, :focus { outline:none; }
/*=============================
  Forms 
===============================*/

/*=============================
  Tables
===============================*/
table { width: auto; margin-bottom: 0.5em; }
table caption { font-variant:small-caps; }
table.full { width: 100%; }
table.fixed { table-layout:fixed; }

th,td { text-align:left; padding:0; margin:0; font-weight:normal; }
thead th { color: #333; }
tbody th { }
tbody th[scope="row"], tbody th.sub { }

tbody th { text-align: left; }
tbody td { }

tbody tr:hover th[scope="row"],
tbody tr:hover tbody th.sub { }
tbody tr:hover td { }
/*=============================
  Generic Content Classes 
===============================*/
.current, .selected { }
.caption {font-size: 85%; color:#666;}
.note, .info, .important, .notice, .alert, .warning, .error { }
.info { }
.important { background: #ccffcc; }
.notice, .alert { background: #ccffff; }
.warning, .error { background: #ffcccc; }  

.float_left { float: left; display:inline; margin-right: 1em; margin-bottom: 0.15em; }
.float_right { float: right; display:inline; margin-left: 1em; margin-bottom: 0.15em; }
.center { display:block; text-align:center; margin: 0.5em auto; }
  
.ar { text-align:right; }
.al { text-align: left; }
.ac { text-align:center; }

/*=============================
  CSS3 Specific Styles 
===============================*/
.dimmed {
   opacity: 0.5;
}
.shadow {
  box-shadow: 0px 1px 5px 0px #aaa;
}
.rounded {
  border-radius: 5px;
}
/*=============================
  Layout Elements
===============================*/
  #fluxx{}
  #stage{}
  #header{}
  #card-table{}
  #hand{}
  #footer{}
  #dock{}
  #viewport{}
  #quicklinks{}
  #lookingglass{}
/*=============================
  Cards
===============================*/
.card-box{
  position: relative;
  z-index: 2;
  @include box-shadow;
  @include rounded(6px);
  border: 1px solid transparent;
  background: #999;
}
.detail { background: #FFF;}
.show, .edit {margin: 20px 38px;}
.detail h3 {border-bottom: 1px solid #d6d6d6;}
.show ul, .show ol, .show dl {
  margin: 0 0 1em 0;
}
.partial {margin: 0.5em 0;}
.partial.contact-info { margin:0.15em 0 0.5em 0;}
/*=============================
  Trash
===============================*/
/*li.entry h1 {
  font-size:19px;
  color:#333;
}*/
.address span {display:block; line-height:1.2em;}

