@import "../_common/_helpers.scss";
@import "../_common/style.scss";
@import "../_common/jquery.colorbox.alerts.sass";
@import "core.scss";
@import "icons.scss";

#modal-overlay {
  background-color: black;
  cursor: wait;
}

#modal-container {
  position: relative;
  font-size: 22px;
  text-align: left;
  height: 80%;
  min-height: 400px;
  width: 1000px;
  background-color: white;
  border: 5px solid #fff;
  border-radius: 7px;
  padding-top: -30px;
}
#fluxx-admin {
  outline: 1px solid #a9a9a9;
  height: 100%;
  overflow: hidden;
  .inline-list {
    height: 60px;
    margin-bottom: -20px;
    margin-left: 1px;
    margin-right: 1px;
  }
  .button {
    color: #000;
    padding: 1px 10px 1px 10px;
    border: 1px solid #aaa;
    background-color: #fff;
    @include rounded(5px);
    margin-top: 20px;
  }
  .ui-icon {display: inline-block;}
  .sortable li {vertical-align: top; margin: 10px;}
  .warning {
    a:visited, a{
      color: blue;
    }
    border: 1px solid;
    background-position-x: 30px;
    background-color:  #FEEFB3;
    color: #111;
    border-radius: 5px;
    margin: 100px;
    padding:15px 10px 15px 50px;
    font-size: 1.4em;
    text-align: center;
  }
  .export-import-links {
    position: absolute;
    top: -55px;
    left: 10px;
  }
  #admin-buttons {
    position: absolute;
    background: #ddd;
    width: 937px;
    left: 1px;
    bottom: 1px;
    padding: 20px;
    li {
      margin-left: 10px;
      float: right;
      a {
        padding: 2px 15px 2px 15px;
      }
    }
  }
  h1.titlebar {
    font-size: 18px;
    padding: 12px 12px 12px 74px;
    margin-bottom: 0px;
    color: #ebebeb;
    background: #424242 url("/images/fluxx_engine/theme/default/icons/utility.png") no-repeat left center;
    position: relative;
    z-index: 1;
  }
  .admin-card {
    padding-bottom: 130px;
    position: absolute;
    top: -20px;
    left: 0px;
    height: 100%;
    #card-drawer, #card-settings {display: none;}
  }
  ul.list {
    width: 186px;
    font-size: 12px;
    font-weight: bold;
    height: 100%;
    background-color: #ddd;
    list-style:none;
    li.entry {
      padding: 10px 18px 10px 18px;
      border-bottom: 2px groove #fff;
      color: #323232;
      cursor: hand;
      &:hover {
        @include linear-gradient(rgba(102, 102, 102, 0.1), rgba(51, 51, 51, 0.1));
      }
    }
    li.selected {
      @include linear-gradient(rgba(102, 102, 102, 0.3), rgba(51, 51, 51, 0.5));
      color: #fff;
      &:hover {
        @include linear-gradient(rgba(102, 102, 102, 0.4), rgba(51, 51, 51, 0.6));
      }
    }
  }
  .form-builder, .form-builder-with-save {
    margin-left: 75px;
    margin-right: 75px;
    .ui-widget-content a {
      color: blue;
    }
    .float_right {
      position: absolute;
      top: -30px;
      right: 14px;
      width: 100%;
      .buttons {
        float: right;
        margin-left: 24px;
      }
    }
  }
  .detail {
    background: #fff;
    margin: 0;
    position: absolute;
    margin-top: 46px;
    top: 0px;
    left: 186px;
    width: 794px;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 12px;
    color: #5c5c5c;
    white-space: normal;
    border: 1px solid #d8d8d8;
    .body {
      height: 100%;
      border: none
    }
    .inline-aft {z-index: 1;}
    #card-footer, #card-settings li, {display: none;}
    #card-header {
      .notice {
        padding: 15px 50px 25px;
      }
      form, ul, input {display: none;}
    }
    .text,.multiple-select-transfer, textarea {
      label {display: block;}
    }

    .edit {
      padding-top: 0px;
      margin-top: 0px;
      margin: 0px 0px 0px 0px;
      height: 100%;
      color: #333;
      form {
        h1 {
          padding-top: 10px;
        }
        margin-right: 32px;
        margin-left: 62px;
        input[type="radio"] {
          margin-right: 0.25em;
          width: 20px;
        }
        .no-padding {
          padding: 0px 1px 0px 1px;
        }
      }
    }
    .withtabs {
      width: 100%;
      overflow: hidden;
      form {margin-left: 0px; margin-right: 0px;}
    }
    #card-body {
      overflow-x: hidden;
      margin-left: 0px;
      width: 728px;
      height: 452px;
      padding-left: 40px;
      font-family: "Helvetica Neue", sans-serif;
      font-size: 1em;
      a {
        color: blue;
      }
      .form-builder .float_right a {color: #000;}
    }
  }
  .loading, .updating {
    -webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.4);
    background: url("/images/fluxx_engine/theme/_common/loaders/ajax-loader-666666.gif") no-repeat center center;
    /*height: 200px;*/
    &.modal {
      background-color: #000;
    }
  }
}

table.form-builder-table {
  border: none;
  border-collapse:collapse;
  width: 100%;
  thead {
    background-color: #e1e1e1;
  }
  td {
    background-color: #fafafa;    
  }
  td.totals-row {
    background-color: #f5f5f5;
    padding: 10px;
    color: #111111;
    li span {
      font-size: 100%;
    }
  }
  td, th {
    padding: 5px 10px 5px 10px;
  }
  .row-label {
    background-color: #f1f1f1;
  }
  .string, .select, .numeric, .amount, .datetime, .date, .autocomplete, .password, .time_zone, .phone, .email, .url {
    margin: 0px;
  }
}
.form-builder-table-config {
  margin-top: 20px;
  .string, .select, .numeric, .amount, .datetime, .date, .autocomplete, .password, .time_zone, .phone, .email, .url {
    margin: 0px;
  }
}

.fullscreen-view {
  #modal-overlay {
    background-image: none;
    background-color: #000;
  }
  #modal-container {
    background: none;
    border: none;
    outline: none;
    top: 0px;
    left: 0px;
    position: absolute;
    font-size: 22px;
    text-align: left;
    height: 100%;
    min-height: 100%;
    min-width: 794px;
    max-width: 794px;
    width: 794px;
    border: none;
    padding-top: 0px;
    margin-bottom: 0px;
    .spreadsheet-view {
      .header-scroller {
        top: 4px;
      }
      .table-scroller {
        margin-top: -2px;
        margin-right: 20px;
      }
    }
    .simplemodal-close {
      top: 11px;
    }
    .spreadsheet-view {
      overflow: hidden;
    }
    #fluxx-admin {
    outline: none;
    .updating {
      left: 100px;
    }
    }.detail {
      margin: 24px 0px 0px 0px;
      padding: 0px;
      left: 0px;
    }
  }
}

.new-modal {
  border: 10px solid #000;
  background-color: #000;
  @include rounded(12px);
  width: 320px;
  li {
    .actions {
      .as-delete {display:none;}
    }
    &:hover {
      .actions {
        .as-delete {display:block;}
      }
    }
  }
  .modal-arrow {
    position: absolute;
    height: 35px;
    width: 20px;
    &.left {
      left: -29px;
      top: 10px;
      background: transparent url("/images/fluxx_engine/theme/default/modal/small-arrow-left.png") no-repeat right center;
    }
    &.right {
      left: 309px;
      top: 10px;
      background: transparent url("/images/fluxx_engine/theme/default/modal/small-arrow-right.png") no-repeat right center;
    }
  }
  .header {
    @include linear-gradient(#262626, #262626);
    border: 1px solid #323232;
    text-transform: none;
    font-size: 18px;
    font-weight: 400;
    height: 50px;
    .notice {display: none;}
  }
  .body {
    /*font-size is admin only*/
    font-size: 13px;
    @include linear-gradient(#262626, #262626);
    border: 1px solid #323232;
    border-top: 0;
    white-space: normal;
    /*Reset rounded corners from default modal style, remove later*/
    -webkit-border-radius: 0px;
    @include rounded-bottom(8px);
    form {
      width: 80%;
      margin-left: 24px;
      input {font-size: 14px;}
      label {
        margin-bottom: 2px;
        width: 248px;
        white-space: normal;
      }
      input, select, textarea {
        width: 248px;
        &.add-another {
          width: 228px;
        }
      }
      a.do-add-another, a.do-delete-this {
        margin-top: 0px;
      }
      input[type="checkbox"] {
        margin-right: 0.25em;
        width: auto;
      }
    }
    .show form {margin-left: -14px;}
  }
  .footer {
    @include linear-gradient(#000, #000);
    height: 50px;
    @include rounded-bottom(8px);
    padding: 14px 0px;
    .workflow li {
      @include linear-gradient(#84cafa, #62b7fa);
      @include rounded(6px);
      margin: 0 2px;
      display: block;
      float: left;
      a {
        padding: 6px 8px 6px 8px;
        text-transform: uppercase;
        font-weight: 500;
        color: #123f7d;
      }
    }
  }
  &.wide {
    width: 600px;
    .body {
      .rte-toolbar {width: 224px;}
      form {width: 98%;}
    }
  }

}

#manager-overlay {
  background-color: black;
  cursor: wait;
}

#manager-container {
  font-size: 22px;
  text-align: left;
  width: 450px;
  height: 380px;
  background-color: white;
  border: 4px solid #444444;
  padding: 12px;
  @include rounded(10px);
  ul {
    height: 280px;
    overflow: auto;
    padding: 10px 0 0 0;
    .selected { background-color: #e9eeff; }
    li {
      border-top: 1px solid black;
      padding: 0px 2px 0px 2px;
      height: 44px;
      font-size: 14px;
      color: #777777;
      .manager-card-count {
        color: #555555;
        margin: 2px 0px 0px 0px;
      }
      .actions {
        overflow: hidden;
        width: 60px;
        height: 32px;
        @include inline-block;
        clear: right;
        float: right;
        font-weight: normal;
        font-size: 80%;
        li {
          width: 15px;
          height: 20px;
          margin: 0;
          display: block;
          float: right;
          border: 0;
          a {
            display: block;
            text-indent: -1000em;
          }
          a.delete-dashboard {
            background: transparent url("/images/fluxx_engine/theme/default/icons/delete.png") no-repeat center center;
            height: 21px;
          }
          a.rename-dashboard {
            background: transparent url("/images/fluxx_engine/theme/default/icons/page_edit.png") no-repeat center center;
            height: 21px;
          }
        }
      }
      a {
        text-decoration: none;
        font-size: 18px;
      }
      a.add-dashboard-template {
        font-size: 85%;
      }
    }
  }
  .manager-title {
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    padding: 0 0 12px 0;
    text-align: left;
  }
}

#popup_container {
  font-family: Arial, sans-serif;
  font-size: 12px;
  min-width: 300px;
  max-width: 600px;
  background: white;
  border: solid 5px #777777;
  color: black;
  border-radius: 5px;
  border-radius: 5px;
  .manager-title {
    font-size: 20px;
    line-height: 30px;
    margin-left: -48px;
  }
}

#popup_title {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 1.75em;
  color: #666666;
  background: #cccccc url(/images/fluxx_engine/theme/default/icons/title.gif) top repeat-x;
  border: solid 1px white;
  border-bottom: solid 1px #999999;
  cursor: default;
  padding: 0em;
  margin: 0em;
}

#popup_content {
  background: 16px 16px no-repeat url(/images/fluxx_engine/theme/default/icons/info.gif);
  padding: 1em 1.75em;
  margin: 0em;
}

#popup_content.alert { background-image: url(/images/fluxx_engine/theme/default/icons/info.gif); }

#popup_content.confirm {
  background-image: url(/images/fluxx_engine/theme/default/icons/important.gif);
  text-align: center;
}

#popup_content.prompt { background-image: url(/images/fluxx_engine/theme/default/icons/help.gif); }

#popup_message { padding-left: 48px; }

#popup_panel {
  text-align: center;
  margin: 1em 0em 0em 1em;
}

#popup_prompt { margin: 0.5em 0em; }

iframe.wysiwyg {
  width: 510px;
  @include rounded(4px);
  border: solid 1px #777777;
  background-color: #f9f7f8;
  padding: 10px;
  position: relative;
  top: -20px;
}

.rte-toolbar {
  float: right;
  position: relative;
  top: -20px;
  .bold, .italic, .underline, .strikethrough, .unorderedlist, .link, .image, .disable {
    background-color: white;
    padding: 8px 4px 0px 4px;
    @include rounded(4px);
    @include box-shadow-with-inset;
  }
}

.file-type {
  display: inline-block;
  min-height: 16px;
  padding: 4px 4px 0px 20px;
}
.file-type-pdf { background: transparent url(/images/fluxx_engine/theme/default/icons/page_white_acrobat.png) no-repeat 0px 4px;}
.file-type-image { background: transparent url(/images/fluxx_engine/theme/default/icons/page_white_picture.png) no-repeat 0px 4px;}
.file-type-audio {background: transparent url(/images/fluxx_engine/theme/default/icons/telephone.png) no-repeat 0px 4px;}
.file-type-video {background: transparent url(/images/fluxx_engine/theme/default/icons/television.png) no-repeat 0px 4px;}
.file-type-file {background: transparent url(/images/fluxx_engine/theme/default/icons/page.png) no-repeat 0px 4px;}
.file-type-word {background: transparent url(/images/fluxx_engine/theme/default/icons/page_word.png) no-repeat 0px 4px;}
.file-type-excel {background: transparent url(/images/fluxx_engine/theme/default/icons/page_excel.png) no-repeat 0px 4px;}
.file-type-powerpoint {background: transparent url(/images/fluxx_engine/theme/default/icons/page_white_powerpoint.png) no-repeat 0px 4px;}


.docIcon {
  background: transparent url(/images/fluxx_engine/theme/default/icons/page.png) no-repeat 0px 4px;
  display: inline-block;
  min-height: 16px;
  padding: 4px 4px 0px 20px;
  width: 160px;
}

.uploader {
  padding-left: 20px ;
}

.primary {float:right;clear:both;font-size: 11px;}
.primary a {font-size: 11px;}
.edit_row_links {
  display: inline;
  float: right;
  font-size: 11px;
  text-align: right;
  padding-bottom: 5px;
}
.edit_row_links .actions a {font-size: 11px;}
.org_row {
  clear: both;
  color: #666;
  display: block;
  font-size: 14px;
  margin: 10px 0px;
}

.visualizations {
  .chart {
    width: 745px;
    margin-left: 24px;
    height: 325px;
  }
  .title {
    margin: 10px 0px 0px 60px;
    font-size: 180%;
    color: #000;
  }
  .summary {
    margin: 0px 0px 20px 60px;
    font-size: 160%;
  }
  .legend-table{
    border-collapse: collapse;
    width: 695px;
    margin-left: 60px;
    td, th {
      padding: 8px 20px 8px 20px;
      margin: 0px;
      border: 1px solid #444444;
    }
    tr:hover {
      background-color: #f4f4f4;
    }
    td {
      text-align: right;
      a {
        text-align: left;
        display: block;
        text-indent: -1000em;
        background: transparent url("/images/fluxx_engine/theme/default/icons/table.png") no-repeat center center;
        height: 21px;
      }
    }
    td.ac {
      text-align: center;
    }
    th:first-child, td:first-child  {
      text-align: left;
    }
    th {
      text-align: center;
      background-color: #e5e5e5;
      color: #000;
    }
    .legend-color-swatch {
      @include inline-block;
      width: 10px;
      height: 10px;
      @include rounded(1px);
      margin-right: 5px;
    }
    &.single-row-legend {
      width: 100%;
      margin-left: 0px;
      background-color: #fafafa;
      border: none;
      td {
        text-align: center;
        horizontal-align: middle;
        padding: 30px 0px 30px 0px;
        border: 1px solid #dcdcdc;
        font-size: 200%;
        .category {
          font-size: 40%;
        }
        &:first-child {
          border-left: 0px;
        }
        &:last-child {
          border-right: 0px;
        }
      }
    }
  }
  .filter {
    margin: 4px 10px 16px 60px;
  }
  .visualization-selector {margin-left: 10px;}
  .buttons {
    float: right;
    margin-right: 10px;
  }
}
.closeable-div {
  @include rounded(4px);
  border: solid 1px #777777;
  background-color: #f9f7f8;
  padding: 0px 10px 10px 10px;
  margin-bottom: 10px;
  .close-parent {
    position: relative;
    top: 6px;
    left: 494px;
  }
}
#report-modal {
  font-size: 18px;
  width: 700px;
  height: 500px;
  background-color: #000;
  border: 4px solid #444444;
  padding: 0px;
  @include rounded(10px);
  .datetime,.date {
    input {
      background: url("/images/fluxx_engine/theme/default/icons/calendar.png") 99% center no-repeat;
      background-color: white;
    }
  }
  .report-modal-title {
    color: #fff;
    font-size: 16px;
    height: 34px;
    padding: 5px 5px 10px 30px;
    background-color: #575757;
    text-transform: uppercase;
    font-weight: bold;
  }
  .report-list {
    height: 100%;
    overflow-y: auto;
    table {
      border-collapse: collapse;
      tr {
        &:hover {
          background: #777;
        }
        td {
          height: 120px;
          vertical-align: middle;
          border-bottom: 1px solid #9B9B9B;
          color: #fff;
        }
        td:first-child {
          padding-left: 20px;
          width: 80%;
        }
        td:last-child {
          padding-left: 40px;
        }
      }
    }
  }
  .report-description {
    font-size: 14px;
  }
  .report-filter {
    height: 380px;
    overflow: auto;
    padding: 20px 45px 10px 45px;
    color: #fff;
    .report-title {
      text-align: center;
      padding-bottom: 20px;
      font-size: 1.6em;
    }
    .select-transfer {
      width: 600px;
      font-size: 12px;
    }
    li {
      list-style: none;
      margin-bottom: 10px;
    }
    abbr {
      display: none;
    }
    label {
      @include inline-block;
      @include border-box;
      width: 120px;
      margin: 5px 0px 5px 0px;
      font-size: 14px;
      vertical-align: middle;
    }
    .commit {
      margin: 0px 0px 10px 236px;
    }
  }
  a.report-modal-back {
    display: block;
    text-indent: -1000em;
    margin-top: 18px;
    background: transparent url("/images/fluxx_engine/theme/default/modal/circle-arrow-left.png") no-repeat center center;
    height: 34px;
  }
}
.wiki-document {
	ul li { list-style: disc outside; }
    ol li { list-style: decimal outside; }
}

.social-tabs {
  .ui-tabs-nav li a { 
    font-size: 80%; 
  }
  .ui-tabs-panel { 
    padding: 10px; 
  }
  .ui-state-active, .ui-widget-header .ui-state-active { 
    background-color: #E3E7EA; 
  }
}

.social {
  .twitter-tab { margin: 10px 0 0 10px; }
  .twitter-profile { font-size: 80% }
  .twitter-profile .img { 
    float: left; 
    margin-right: 10px; 
    margin-bottom: 5px;
  }
  .twitter-profile h1 { margin: 0px; }
  .twitter-profile .description { clear: both; }
  ul.twitter-stats {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  ul.twitter-stats li {
    list-style: none;
    float: left;
    border-right: 1px solid #999;
    padding: 0 5px;
  }
  .twitter-stats li:last-child {
    border-right-width: 0;
  }
  .twitter-stats .stat-label {
    font-size: 90%;
  }  
  .tweets {
    margin-top: 10px; 
  }
  .tweet { 
    clear: both;
    margin-top: 10px;
    padding: 5px 0px;
    border-top: 1px solid #999;
  }
  .tweet-image {
    float: left;
    height: 48px;
    width: 48px;
    margin-top: 3px;
  }
  .tweet a {
    color: blue;
  }
  .tweet-content {
    margin-left: 55px;
    font-size: 80%;
  }
  .tweet .screen-name { 
    font-weight: bold; 
    font-size: 110%; 
  }
  .tweet .user-name { 
    color: #999; 
    font-size: 90%; 
    margin-left: .5em; 
  }
  .tweet .at { 
    color: #999; 
    margin-top: 5px; 
  }
  
  .facebook-tab { margin: 10px 0 0 10px; }
  .facebook-profile { font-size: 80% }
  .facebook-profile .img { 
    float: left; 
    margin-right: 10px; 
    margin-bottom: 5px;
  }
  .facebook-profile h1 { margin: 0px; }
  .facebook-profile .link { clear: both; }
  
}
.twitter-card {
  .status {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.8, #F8F8F8), color-stop(1, #E7E7E7));
    background: -moz-linear-gradient(center top, #F8F8F8 80%, #E7E7E7 100%);
    color: #666;
    border-left: 6px solid transparent;
    display: block;
    padding: 10px;
    text-decoration: none;
    border-top: 1px solid white;
    overflow: hidden;
    
    .tweet .screen-name { 
      font-weight: bold; 
      font-size: 110%; 
    }
    .tweet .user-name { 
      color: #999; 
      font-size: 90%; 
      margin-left: .5em; 
    }
    .at {
      color: #999;
      margin-top: 5px;
      font-size: 80%;
    }
    img { 
      float: left;
      margin-right: 5px;
      width: 60px;
    }
  }
}
.linkedin {
  .linkedin_network_update {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.8, #F8F8F8), color-stop(1, #E7E7E7));
    background: -moz-linear-gradient(center top, #F8F8F8 80%, #E7E7E7 100%);
    color: #666;
    border-left: 6px solid transparent;
    display: block;
    padding: 10px;
    text-decoration: none;
    border-top: 1px solid white;
    overflow: hidden;
    # clear:both;
    # background-color: white;
    
    .at {
      color: #999;
      margin-top: 5px;
      font-size: 80%;
    }
    img { 
      float: left;
      margin-right: 5px;
      width: 60px;
    }
  }

}


.carousel {
  background-color: #323232;
  height: 100%;
  width: 336px;
  overflow: hidden;
  .panels {
    width: 2000px;
    overflow: hidden;
    height: 100%;
    .panel {
      float: left;
      width: 336px;
      height: 100%;
      .panel-header {
        height: 40px;
        padding: 6px 10px 10px 20px;
        background-color: #000;
        color: #fff;
        font-size: 1.4em;
        font-weight: bold;
        width: 100%;
        border-bottom: 1px solid #616161;
      }
      .content {
        height: 100%;
        color: #fff;
        overflow-y: auto;
        padding: 0px 0px 49px 0px;
        margin: 0px;
        hr {
         margin: 20px 0px 20px -24px;
         width: 338px;
        }
        h1 {
         font-size: 2.8em;
        }
        .pipeline-stats {
          background-color: #fff;
          height: 40px;
          text-align: right;
          color: #000;
          padding: 10px 10px 0px 0px;
          margin: 30px 0px 10px 0px;
          font-size: 1.6em;
          border-bottom: 4px solid #a7a7a7;
          max-width: 240px;
          min-width: 40px;
        }
        table {
          margin: 0px;
          padding: 0px;
          height: 100%;
          border-collapse:collapse;
          td {
            font-size: 1.2em;
            color: #fff;
            padding-left: 30px;
            border-bottom: 1px solid #616161;
            vertical-align: middle;
          }
        }
      }
    }
  }
}

.carousel-pages {
  text-align:center;
  width: 240px;
  /*padding:15px;*/
  li {
    display: inline;
  }
  a {
    margin-left: -4px;
    margin-right: -4px;
  }
}

.summary-card {
  .listing {
    .body {overflow: hidden;}
  }
}
.spreadsheet-card {
  .listing {
    width: 998px;
    .body {overflow: hidden;}
  }
  .paginate-info {
    width: 846px;
  }
  .listing .header .actions {
    left: 998px;
  }
  .listing .header .search .filter {
    width: 890px;
  }
}

.spreadsheet-view {
  height: 100%;
  width: 100%;
  .spreadsheet-header{
      display: block;
      color: #fff;
      background-color: #323232;
      font-weight: bold;
      div {
        display: inline-block;
        font-size: .9em;
        padding: 2px 5px 2px 5px;
        border-right: 1px solid #636363;
        white-space: nowrap;
      }
  }
  .table-scroller {
    border-top: 5px solid #ccc;
  }
  .header-scroller {
    border-top: 1px solid #d9d9d9;
  }

  .first-header {
    border-top: 1px solid #d9d9d9;
    border-bottom: 5px solid #ccc
  }

  .row-scroller table td {
    background-color: #eee;
  }

  table {
    background-color: #fff;
    margin: 0px;
    padding: 0px;
    border-collapse: collapse;
    color: #000;
    tr:hover {background-color: #f4f4f4; }
    th {
      padding: 2px 5px 2px 5px;
      font-weight: bold;
      border-right: 1px solid #ccc;
    }
    td {
      border: 1px solid #ccc;
      font-size: .9em;
      padding: 4px;
      a {
        text-decoration: underline;
      }
    }
  }
}

.nav.selected {
  background: transparent url("/images/fluxx_engine/theme/default/icons/bullet_green.png") no-repeat center center;
}

.nav {
  width: 18px;
  display: inline-block;
  background: transparent url("/images/fluxx_engine/theme/default/icons/bullet_white.png") no-repeat center center;
  text-indent: -2000em;
}

.nav-left {
  &:hover { cursor: hand;}
}

.nav-right {
  &:hover { cursor: hand;}
}

table.loi {
  td {
    span {font-size: 100%;}
  }
}

.form-text {
  ul, ul li {
    list-style: disc outside none;
    margin: 4px 0px 4px 15px;
    ul li {list-style-type: square;}
  }
}
