<div class="fluxx-card-header"><%= flash_info %><%= flash_error %></div>
<div class="fluxx-card-content">
  <div class="fluxx-card-edit">

	<% semantic_form_for @model, :url => @form_url, :html => {:class => 'fluxx-card-form-to-self'} do |form| %>
    <%= render :partial => @template, :locals => { :form => form, :model => @model, :button_verb => (@button_verb || 'Create'), :button_definition => @button_definition} %>
	<% end %>

</div>

</div>

<div class="fluxx-card-footer">
<%= link_to 'Cancel', @model, :class => 'fluxx-card-link-to-self btn' %>
<%- unless @not_editable -%>
<script>
  $('body').one('fluxxCardLoadContent',function(e, $area){
    var $submit = $('.fluxx-card-edit form input[type="submit"]', $area);
    console.log("forms: " + $submit.length);
    console.log("")
    $('.fluxx-card-detail-footer,.fluxx-card-modal-footer', $area).append(
      $('<a></a>').attr('href','#').text($submit.val()).click(function(e){
        e.preventDefault();
        e.stopImmediatePropagation();
        console.log($submit.parents('form:first').attr('id'));
        window.F=$submit.parents('form:first');
        console.log("Set F");
        $submit.parents('form:first').trigger('submit');
      }).addClass('fluxx-card-link-to-workflow btn green')
    );
    $submit.hide();
  });
</script>
<%- end -%>
</div>