<div id="card-header"><%= flash_info %><%= flash_error %></div>
<div id="card-body">
  <div class="edit">
	<%= semantic_form_for @model, :url => (@form_url || {:action => "create"}), :html => {:class => ('to-self ' + (@form_class || ''))} do |form| %>
    <%= render :partial => @template, :locals => { :form => form, :model => @model} %>
	<% end %>
	
</div></div>

<div id="card-footer">
  <ul class="workflow"></ul>
</div>
= render :partial => 'insta/card_settings'