<div id="card-header"><%= flash_info %><%= flash_error %></div>
<div id="card-body">
  <div class="edit">
	<%= semantic_form_for @model, :url => (@form_url || {:action => "create"}), :html => {:class => ('to-self ' + (@form_class || ''))} do |form| %>
    <%= render :partial => @template, :locals => { :form => form, :model => @model} %>
	<% end %>
	
</div></div>

<div id="card-footer">
  <script>
  $('body').one('fluxxCardLoadContent',function(e, $area){
    var $submit = $('.fluxx-card-edit form input[type="submit"]', $area);
    $('.fluxx-card-detail-footer,.fluxx-card-modal-footer', $area).append(
      $('<a></a>').attr('href','#').text($submit.val()).click(function(e){
        e.preventDefault();
        e.stopImmediatePropagation();
        $submit.parents('form:first').trigger('submit');
      }).addClass('fluxx-card-link-to-workflow btn green')
    );
    $submit.hide();
  });
  </script>
</div>
